.movie-poster{
	margin-bottom: 10px;
	/*border: 1px solid black;*/
}

/*body{
	background-image: url('../images/theater.jpg');
	background-position: 50% 0%; 
	background-size: cover;
	background-repeat: no-repeat;
}*/
.header{
	background-color: blue;
	color: white;
	text-align: center;
	height: 
}

.home-button{
	/*background-image: url('../images/home-button.png');*/
	left: 10px;
	top: 10px;


}

#movie-grid{
	/*left: 12%;*/
	margin-top: 10px;
}
body{
	background-color: lightgray;
}

